<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= product.name %> - PS Curves</title>

  <link rel="stylesheet" href="/css/styles.css" />
  <style>@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Space+Grotesk:wght@300..700&display=swap');</style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>

  <%- include('partials/_navbar') %>
  
  <a href="/store" class="back-link">← Back to Store</a>

  <div class="product-detail-container">
    <div class="product-detail-content">
      <h1><%= product.name %></h1>
  
      <p>
        <br>
        <% if (product.oldprice) { %>
          <span class="old-detailed-price">$<%= product.oldprice %></span>
        <% } %>
        <span class="new-detailed-price">$<%= product.newprice %></span>
      </p>
      <br>
  
      <p><%= product.description || "No description available." %></p>
  
      <form action="/cart/add/<%= product._id %>" method="POST">
        <button type="submit"><span>Add to Cart</span></button>
      </form>
    </div>
  
    <!-- Right: Image -->
    <div class="product-detail-image-wrapper">
      <% if (product.imageUrl) { %>
        <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="product-detail-image" />
      <% } %>
    </div>
  </div>
  <%- include('partials/_footer') %>
</body>
</html>
